.detail_about_place_container {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 16px;
  margin-bottom: 20px;
}

.detail_about_place_title {
  font-size: 28px;
}

.detail_about_place_infor_text {
  width: 63%;
  white-space: pre-wrap;
  display: -webkit-box;
  line-height: 1.2;
  height: 6em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.detail_about_place_infor_btn_box {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.detail_about_place_infor_more_btn {
  border: none;
  background-color: white;
  font-size: 15px;
  text-decoration: underline;
  font-weight: 600;
  display: flex;
  margin-right: -5px;
}
