.detail_reviews_comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
}

.detail_reviews_comment_top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.detail_reviews_profile_infor {
  margin-left: 10px;
  font-size: 16px;
}

.detail_reviews_profile_infor_name {
  font-weight: 600;
  font-size: 20px;
}

.detail_reviews_profile_infor_dat {
  color: gray;
}

.detail_reviews_comment_bottom {
  display: -webkit-box;
  word-wrap: break-word;
  max-width: 80%;
  line-height: 1.2;
  height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detail_reviews_comment_bottom_full {
  max-width: 80%;
}

.detail_reviews_comment_more_btn {
  width: 20%;
  background-color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 10px;
  margin-left: -20px;
}
