.detail_about_place_container {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.detail_about_place_infor_text {
  width: 63%;
  white-space: pre-wrap;
  display: -webkit-box;
  line-height: 1.2;
  height: 6em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.detail_about_place_infor_more_btn {
  border: none;
  background-color: white;
}
