h1 {
  margin-bottom: 10px;
}

p {
  color: #717171;
  margin-top: -10px;
  line-height: 1.2;
}

a {
  color: black;
  font-weight: 800;
}

.detail_air_cover_modal_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.detail_air_cover_modal_window {
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 74%;
  width: 74%;
  height: 70%;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}

.detail_air_cover_modal_close_btn:hover {
  cursor: pointer;
}

.detail_air_cover_modal_top {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 20px;
}

.detail_air_cover_modal_title {
  display: flex;
}

.detail_air_cover_modal_text_container {
  display: flex;
  float: left;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.detail_air_cover_modal_text_box {
  width: 48%;
}

.detail_air_cover_modal_bottom {
  width: 52%;
}
