.profileModal {
  display: none;
  position: fixed;
  top: 90px;
  right: 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 99;
}
.profileModal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.profileModal > section {
  width: 90%;
  min-width: 200px;
  min-height: 300px;

  margin: 0 auto;
  border-radius: 15px;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: profileModal-show 0.3s;
  overflow: hidden;
}
.profileModal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.profileModal > section > header button {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #999;
  background-color: transparent;
}
.profileModal > section > main {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.profileModal > section > main > div {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}

.profileModal > section > main > div:first-child {
  font-weight: bold;
}

.profileModal > section > main > div:hover {
  background-color: #ddd;
}

.profileModal > section > footer {
  padding: 12px 16px;
}

.profileModal.openProfileModal {
  display: flex;
  align-items: center;
}
@keyframes profileModal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
